@font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora-Bold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraBold.ttf') format('truetype');
    src: url('/fonts/Sora-ExtraLight.ttf') format('truetype');
    src: url('/fonts/Sora-Light.ttf') format('truetype');
    src: url('/fonts/Sora-Medium.ttf') format('truetype');
    src: url('/fonts/Sora-Regular.ttf') format('truetype');
    src: url('/fonts/Sora-SemiBold.ttf') format('truetype');
    src: url('/fonts/Sora-Thin.ttf') format('truetype');
}
/* Base Styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: Sora, sans-serif;
    background: #333;
    opacity: 0;
    transition: opacity 0.5s ease;
}
body.loaded {
    opacity: 1; /* Show content when loaded */
}
a {
    transition: opacity 0.5s ease; /* Add transition effect to links */
}

h5 {
    font-family: "Sora SemiBold", sans-serif;
    font-weight: 600;
    font-size: 20px;
    margin: 20px;
}

#content-wrapBase {
    display: flex;
    flex-direction: column;
}

.form_content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 30px;
}

/* Form Styles */
.form {
    background: #141414;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.question-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.question {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.checkbox-box {
    width: 300px; /* Adjust the width to fit your content */
    height: 220px; /* Adjust the height to fit your content */
    border: 2px solid #007bff;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden; /* This ensures content doesn't overflow */
    transition: background-color 0.3s ease;
}
.checkbox-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    text-align: center;
    font-family: "Sora Regular", sans-serif;
    font-weight: 400;
    background-color: transparent;
}
.checkbox-box img {
    height: 120px;
    width: 120px;
    margin : 0 0 10px 0;
    transition: filter 0.3s ease;
}
input[type="checkbox"] {
    display: none; /* Hide the default checkbox */
}
input[type="checkbox"]:checked + label .checkbox-box::before {
    content: "\2713"; /* Unicode checkmark symbol */
    font-size: 30px;
    color: #007bff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)scale(0);
    transition: transform 0.3s ease;
}
input[type="checkbox"]:checked + label .checkbox-box {
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
}
input[type="checkbox"]:checked + label .checkbox-content img {
    filter: brightness(50%);
}
input[type="checkbox"]:checked + label .checkbox-box::before {
    transform: translate(-50%, -50%) scale(1);
}
label {
    cursor: pointer;
    display: flex;
    align-items: center;
}

form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5c6bc0; /* Change as per your brand color */
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #3f51b5; /* a shade darker on hover */
}