body{
    margin:0;
    background-color: #333333;
    font-family: "Sora", sans-serif;
    opacity: 0;
    transition: opacity 0.5s ease;
}
body.loaded {
    opacity: 1; /* Show content when loaded */
}
a {
    transition: opacity 0.5s ease; /* Add transition effect to links */
}

.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 80px 200px 20px 200px;
}
.text-section h2 {
    font-family: "Sora Bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #F0F0F0;
}
.text-section li {
    font-family: "Sora Regular", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #FF2E2E;
    margin: 10px 0;
}
.text-section h5 {
    font-family: "Sora SemiBold", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #F0F0F0;
    margin: 20px;
}
.text-section p {
    font-family: "Sora Regular", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #F0F0F0;
}
.form-section {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: "Sora Regular", sans-serif;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input[type="text"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group textarea {
    height: 100px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #5762D5;
    color: #FCFCFC;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
.contact-section {
    display: flex;
    flex-direction: column;
    margin : 40px 0 0 0;
}
.contact-section h2 {
    font-family: "Sora Bold", sans-serif;
    font-weight: 700;
    font-size: 28px;
    color: #F0F0F0;
    margin : 0 0 0 50px;
}
.contact-section p {
    font-family: "Sora Regular", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: #F0F0F0;
    margin : 20px 0 0 50px;
}
.contact-images-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin : 10px 60px 0 60px;
    max-height: 200px;
}
.numero-vert{
    display: flex;
    align-items: center;
}
.numero-vert p {
    font-family: "Sora SemiBold", sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: #F0F0F0;
    margin: 0 0 0 10px;
}
.numero-vert-logo{
    width: 50px;
    height: 50px;
}
.logo-onde {
    margin : 0;
    width: 200px;
    height: 100px;
}