<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/base.css}" />
    <link rel="stylesheet" th:href="@{/css/lightHarassment.css}" />
    <title>Light Harassment</title>
    <style>
        body {
            margin: 0;
            background-color: #333333;
            font-family: "Sora", sans-serif;
            color: #333;
            overflow-y: auto;
        }
    </style>
</head>
<body>
<div id="content-wrapBase">
    <div th:replace="fragments/header :: header" > </div>
    <main id="mainBase">
        <div class="text-section">
            <h2>Your result :</h2>
            <p>&nbsp;&nbsp;There are times when you can ignore bullying, times when you should respond, and times when you should tell a trusted adult. It’s important to know the difference.
            Do you know what to do when you’re in a bullying situation? Do you ignore the bullying? Do you take a stance and respond? Do you tell? In a tough situation, it can be hard to decide. Evaluating the bully’s words and actions can help you figure out what to do.
            Start by asking yourself, is the action or comment hurtful but not intimidating?
            a onetime offense or repetitive?
            something that can easily be ignored? hostile or threatening?<br>
            Next, use these guidelines to help you determine which course of action to take:</p>
            <ul>
                <li>First :</li>
                <p>&nbsp;&nbsp;Ignore bullies who are just trying to get a rise out of you, if their words or actions aren’t a big deal. Some situations are short-lived and die down on their own.</p>
                <li>Second :</li>
                <p>&nbsp;&nbsp;Respond to any action or comment that is not hostile or threatening. Bullies prefer easy targets, not ones who stand up to them. If you take a stance and respond, they may pull back and leave you alone,
                or they may test you to see whether you’ll cave in. When a bully decides to test you, have a firm comeback, like “That’s not true,” or “Stop spreading those lies.”</p>
                <li>Third :</li>
                <p>&nbsp;&nbsp;Tell a trusted adult immediately if your physical safety is being threatened. No one has the right to harm you, and any threat to do so is serious. Also, tell if someone has posted sexual material about you online. And finally, tell if you feel like you’re spiraling into a black hole that you can’t get out of.
                When you’re targeted, you may feel like there’s no end in sight, but that’s not true. Adults can help.</p>
            </ul>
            <h2>What to do ?</h2>
            <ul>
                <li>Seek Support:</li>
                <p>Reach out to friends, family, or a trusted adult for support.</p>
                <li>Report Incidents: </li>
                <p>Your safety comes first. If you ever feel in danger, you can report any incidents of bullying to a teacher, school counselor, or principal.</p>
                <li>Practice Self-Care: </li>
                <p>Take time for activities that bring joy and relaxation.</p>
                <li>Build a Support Network:</li>
                <p>Surround yourself with positive influences and friends.</p>
                <li>Learn Assertiveness: </li>
                <p>Develop assertiveness skills to express feelings and set boundaries. Keep up with our daily reminders to help you do that.</p>
                <li>Keep a Journal: </li>
                <p>Document thoughts and feelings as a way to process emotions.</p>
                <li>Participate in Activities:</li>
                <p>Engage in hobbies and activities that boost confidence and self-esteem.</p>
                <li>Celebrate your Achievements: </li>
                <p>Acknowledge and celebrate personal achievements, no matter how small.</p>
                <li>Stay Informed:</li>
                <p>Stay informed about anti-bullying resources and organizations.</p>
                <li>Practice Positivity:</li>
                <p>Focus on positive thoughts and affirmations daily.</p>
            </ul>

            <h2>What not to do ?</h2>
            <ul>
                <li>Don't Isolate Yourself:</li>
                <p>Avoid isolating yourself; seek connection and support.</p>
                <li>Don't Blame Yourself: </li>
                <p>Remember, bullying is not your fault; don't blame yourself for others' actions.</p>
                <li>Don't Respond with Violence:</li>
                <p>Avoid responding to bullying with violence; you can always defend yourself with respect. Remember that you can always seek assistance from adults.</p>
                <li> Don't Keep it a Secret:</li>
                <p>Don't keep incidents of bullying a secret; share with someone you trust (your best friend, your sibling, your parent or any adult that you trust)</p>
                <li>Don't Internalize Negative Comments:  </li>
                <p>Refrain from internalizing hurtful comments; focus on your strengths.</p>
                <li>Don't Hesitate to Seek Help: </li>
                <p>Don't hesitate to seek help from teachers, school staff, or counselors.</p>
                <li>Don't Give Up:</li>
                <p>Don't give up on the belief that things can get better with persistence and support.</p>
            </ul>
        </div>
    </main>
    <div th:replace="fragments/footer :: footer" > </div>
</div>
<script th:src="@{/js/header.js}"></script>
</body>
</html>