<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alert</title>
    <!-- Add any necessary CSS or other metadata -->
</head>
<body>
<div th:if="${submissionSuccess}" th:text="${submissionSuccess}" id="submissionSuccess" style="display:none;"></div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var submissionMessage = document.getElementById('submissionSuccess').textContent;
        if(submissionMessage) {
            alert(submissionMessage);
        }
    });
</script>
</body>
</html>
