<header>
    <img class="logo" src="/images/logo.png" alt="logo">
    <nav>
      <a th:href="@{/navigation/home}">Home</a>
      <a th:href="@{/navigation/contact}">Contact</a>
      <a th:href="@{/navigation/specialist}">Specialists</a>
      <a th:href="@{/navigation/faq}">FAQ</a>
    </nav>
    <div class="profile-container">
        <img class="profile-header" src="/images/profile_header.png" alt="profile">
        <div class="profile-dropdown">
            <a href="/User/loadProfile">My profile</a>
            <a href="/User/logout">Log Out</a>
        </div>
    </div>
</header>
